
.border{
    border: 2px solid rgb(224, 66, 66);
    margin: 3px;
    /* object-fit: contain; */
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #181818;;
}
.rounded{
 border-radius: 7px;
}
.m1{
    margin: 3px ;
}
.p1{
    padding: 10px;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 100px;
    border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #1DB954;
}